body {
    font-family: arial, sans-serif;
}

#upRightLinks {
    position: absolute;
    right: 10pt;
    top: 10pt;
}

#upRightLinks a {
    color: dodgerblue;
    border: 20pt;
}

.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.lucorner {
    position: absolute;
    left: 0pt;
    top: 0pt;
}

#searchline {
    height: 40px;
    width: 40%;
    border-radius: 20px;
    border: 1px solid rgb(218, 217, 217);
    padding-left: 30px;
    padding-right: 30px;
}

#searchline:hover {
    box-shadow: 1px 1px 3px #bdbdbd;
}

#searchline:focus, #searchline:focus-within {
    outline: none;
}

.searchlineadv:hover {
    box-shadow: 1px #bdbdbd;
}

.searchlineadv:focus, .searchlineadv:focus-within {
    outline: 1px solid dodgerblue;
    /* color: dodgerblue; */
}

.inline {
    display: inline;
}

.but {
    height: 40px;
    padding-left:20px;    
    padding-right:20px;
    border-style: none;
    background-color: rgb(247, 247, 247);
    font-size: medium;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 3px;
}

#AS {
    background-color:dodgerblue;
    color: white;
    height: 30px;
}

#advsrchinps, #advsh {
    margin-left: 45px;
}

#advsrchinps tr {
    height: 40px;
}

.label {
    width: 20%;
    min-width: 150px;
}

.labeladv {
    font-size: 13px;
}

#AShead {
    font-size: 16px;
    font-weight:lighter;
}

.advinput {
    width: 50%;
    min-width: 180px;
}

.searchlineadv {
    height: 25px;
    width: 100%;
    border: 1px solid rgb(218, 217, 217);
    /* font-size: 13px; */
}

.but:hover {
    box-shadow: 0px 0px 2px;
}

#advsh {
    color:#d93025;
    font-size: 20px;
    margin-top: 70px;
    font-weight: lighter;
}

hr {
    border: 1px solid #ebebeb;
}